In [38]:
import sqlite3 as lite

conn = lite.connect('user.db')


cursor = conn.cursor()
cursor.execute("SELECT * FROM user")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'fastcampus', 3, 'python')
(2, 'siwa', 25, 'c')
(3, 'sunshine', 23, 'facebook')
(4, 'siwa', 25, 'c')
(5, 'sunshine', 23, 'facebook')
(6, 'siwa', 25, 'c')
(7, 'sunshine', 23, 'facebook')

In [39]:
cursor = conn.cursor()
cursor.execute("INSERT INTO user (name, age, lang) VALUES ('siwa', 25, 'c')")
cursor.execute("INSERT INTO user (name, age, lang) VALUES ('sunshine', 23, 'facebook')")

cursor.execute("SELECT * FROM user")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.commit()
conn.close()

(1, 'fastcampus', 3, 'python')
(2, 'siwa', 25, 'c')
(3, 'sunshine', 23, 'facebook')
(4, 'siwa', 25, 'c')
(5, 'sunshine', 23, 'facebook')
(6, 'siwa', 25, 'c')
(7, 'sunshine', 23, 'facebook')
(8, 'siwa', 25, 'c')
(9, 'sunshine', 23, 'facebook')

In [40]:
conn = lite.connect('user.db')

with conn: #fechall() 이 따로 필요 없다. 
    cursor = conn.execute("select id, name, age, lang from user")
    for row in cursor:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3])
        
conn.close()

id =  1
name =  fastcampus
age =  3
lang =  python
id =  2
name =  siwa
age =  25
lang =  c
id =  3
name =  sunshine
age =  23
lang =  facebook
id =  4
name =  siwa
age =  25
lang =  c
id =  5
name =  sunshine
age =  23
lang =  facebook
id =  6
name =  siwa
age =  25
lang =  c
id =  7
name =  sunshine
age =  23
lang =  facebook
id =  8
name =  siwa
age =  25
lang =  c
id =  9
name =  sunshine
age =  23
lang =  facebook

In [41]:
conn = lite.connect('user.db')
cursor = conn.cursor()

with conn:
    conn.execute("UPDATE user SET lang = 'Python' WHERE id = 2") 
    conn.commit()
    
conn.close()

In [42]:
conn = lite.connect('user.db')
cursor = conn.cursor()
with conn:
    cursor = conn.execute("select id, name, age, lang from user")
    for row in cursor:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3])
        
conn.close()

id =  1
name =  fastcampus
age =  3
lang =  python
id =  2
name =  siwa
age =  25
lang =  Python
id =  3
name =  sunshine
age =  23
lang =  facebook
id =  4
name =  siwa
age =  25
lang =  c
id =  5
name =  sunshine
age =  23
lang =  facebook
id =  6
name =  siwa
age =  25
lang =  c
id =  7
name =  sunshine
age =  23
lang =  facebook
id =  8
name =  siwa
age =  25
lang =  c
id =  9
name =  sunshine
age =  23
lang =  facebook

In [ ]:
conn = lite.connect('user.db')

with conn:
    conn.execute("") # Delete some row

conn.commit()
conn.close()